{% extends 'main/layout.html' %}

{% block title %}
WhereFilmed - about us
{% endblock title %}

{% block content %}
<div class='features'>
<h1>About us</h1>
<p>We are the community of tireless and landscape detectives! We love movies in a different way 
- we need to know all about them! we are creating the fullest and exact library locations of movies,
 series and music clips. </p>

  <p> We don’t just write blog articles, but find full information about exacts spots of scenes
       in a very accessible way.  We want to be able to find every scene from your favorite movie, to watch where it 
      was filmed, get gps coordinates, some pictures from shooting site, look it up in google street
       view and plan a trip to your favorite movie location!
  </p>
  <p>  This website is not created by administrators, but by a community - where each of us can 
      make a contribution to the content, bring some great ideas for developing the website or 
      join coding team - we are open for everybody!</p>
</div>
{%endblock%}


