body{
    background: #f3f3f3;
}
#header, .module h2, .module caption, .inline-group h2 {
    background: #6532FD;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited{
    color: #f3f3f3;
}

a:link, a:visited {
    color: #6532FD;  
}

